{% extends 'backtemplates/baseback2.html.twig' %}
{% block body %}
    <div class="container mt-4" style="margin-left: 20%; margin-top: 400px;padding-top: 80px;">

        {# Affichage du message flash si une chambre a été modifiée avec succès #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# Formulaire pour modifier une chambre #}
        <h2>Modifier une chambre</h2>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row mb-3">
            <label for="{{ form.numeroChB.vars.id }}" class="col-sm-2 col-form-label">{{ form.numeroChB.vars.label }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.numeroChB, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.etageChB.vars.id }}" class="col-sm-2 col-form-label">{{ form.etageChB.vars.label }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.etageChB, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.capaciteChB.vars.id }}" class="col-sm-2 col-form-label">{{ form.capaciteChB.vars.label }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.capaciteChB, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.statutChB.vars.id }}" class="col-sm-2 col-form-label">{{ form.statutChB.vars.label }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.statutChB, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Modifier <span class="btn-icon-right"><i class="fa fa-edit"></i></span></button>
        <a href="{{ path('app_chamber') }}" class="btn btn-secondary">Annuler <span class="btn-icon-right"><i class="fa fa-times"></i></span></a>
        {{ form_end(form) }}

        {# Affichage des détails de la chambre en cours d'édition (optionnel) #}
        <h2 class="mt-4">Détails de la chambre</h2>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <td>{{ chambre.idChB }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ chambre.numeroChB }}</td>
            </tr>
            <tr>
                <th>Étage</th>
                <td>{{ chambre.etageChB }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ chambre.capaciteChB }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
                    <div class="card-body">
                        {% set statut = chambre.statutChB.getValue() %}

                        {% if statut == 'Disponible' %}
                            <button type="button" class="btn btn-success">
                                Disponible <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                            </button>
                        {% elseif statut == 'Occupée' %}
                            <button type="button" class="btn btn-danger">
                                Occupée <span class="btn-icon-right"><i class="fa fa-times"></i></span>
                            </button>
                        {% elseif statut == 'En maintenance' %}
                            <button type="button" class="btn btn-warning">
                                En maintenance <span class="btn-icon-right"><i class="fa fa-wrench"></i></span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-secondary">
                                Inconnu <span class="btn-icon-right"><i class="fa fa-question"></i></span>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
