{% extends 'backtemplates/gestionRestau.html.twig' %}

{% block title %}Category Details{% endblock %}

{% block body %}
    <h1>Category Details</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Category Name</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Category Description</th>
                <td>{{ categorie.descrCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_plat_index') }}" class="btn btn-secondary">Back to Category List</a>
    <a href="{{ path('app_categorie_plat_edit', {id: categorie.id}) }}" class="btn btn-warning">Edit</a>
    <form method="post" action="{{ path('app_categorie_plat_delete', {id: categorie.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this category?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
